.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    display: flex;
    justify-content: center; /* Центрируем header */
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    margin-top: 20px; /* Отступ сверху */
    position: relative;

}
.nav {
    display: flex; /* Изменили: убрали flex-wrap */
    gap: 20px;
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы у списка */
    margin: 0; /* Убираем отступы у списка */
    justify-content: center; /* Центрируем кнопки в строке */
}

.nav-link {
    color: #800000;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px 15px; /* Добавим отступы для кнопок */
    transition: color 0.3s ease, background-color 0.3s ease; /* Плавный переход для фона */
    text-decoration: none; /* Убирать подчеркивание */
    font-family: sans-serif;
}
.nav-link:hover {
    color: #800000;
    background-color: rgba(220, 53, 69, 0.1) /* при наведении */
}
.nav-link.active {
    background-color: #800000;
    color: #f8f9fa;
    border: 1px solid #800000;
}
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
}
.logout-button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.logout-button a {
    color: white;
    text-decoration: none;
}
/* Медиа-запрос для уменьшения шрифта на узких экранах */
@media (max-width: 1000px) {
  .header {
        display: flex;
          /*flex-direction: column; /* Переход на многострочное отображение */
          justify-content: center; /* Центрируем header */
        }
    .nav-row {
       display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Выравнивание по центру для многострочной навигации */

    }


    .nav-link {
        font-size: 0.8rem;
           box-sizing: border-box; /* Запрещаем padding добавляться к ширине */
           text-align: center;

    }

      .user-info {
       margin-top: 10px; /* добавляет отступ сверху */
        margin-left: 0; /* Отменяем отступ слева */

    }
    .user-info span {
        font-size: 0.9rem;
    }
    .logout-button {
        font-size: 0.7rem;
    }
    .logout-button a {
        font-size: 0.7rem;
    }
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

           /* Стили для навигации и страницы */
            body {

                  background-color: #f0f0f0;
            }


             .welcome-text {
               font-size: 3em;
              font-weight: bold;
              margin-bottom: 20px;
              color: #333;
                text-align: center;
            }

            .instructions {
               display: flex;
               flex-direction: column;
               align-items: center;
               gap: 30px;
               margin-top: 20px;

            }

            .instruction-bubble {
              padding: 10px 20px;
              background-color: white;
              border-radius: 15px;
              max-width: 500px;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              text-align: center;
            }


.instructions {
               display: flex;
               flex-direction: column;
               align-items: center;
               gap: 30px;
               margin-top: 20px;

            }

            .instruction-bubble {
              padding: 10px 20px;
              background-color: white;
              border-radius: 15px;
              max-width: 500px;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              text-align: center;
            }

.container {
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера */
    padding: 0 15px; /* Отступы по бокам */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.fullscreen-image {
    background-image: url('app/static/img/main.png');
    background-size: cover; /* Растянуть изображение */
    background-position: center; /* Центрировать изображение */
    height: 400px; /* Высота изображения, можно изменить по желанию */
    background-image: url('/static/img/main.png');
    background-size: contain; /* Сохраняет пропорции изображения и полностью помещает его в контейнер */
    background-position: center top; /* Центрирует изображение по горизонтали и прижимает к верхней части */
    height: 400px; /* Фиксированная высота контейнера */
    width: 100%; /* Ширина на 100% от контейнера */
    /* margin-top: 30px; /* Сдвинуть вниз на 70 пикселей */
}

.responsive-img {
    width: 100%; /* Сделать изображение адаптивным по ширине контейнера */
    height: auto; /* Высота будет автоматически подстраиваться в зависимости от ширины для сохранения пропорций */
    object-fit: cover; /* Обеспечивает заполнение контейнера, сохраняя пропорции */
}