.event-title {
    text-align: center;
    margin-bottom: 20px;
    color: #404040; /* Цвет текста */
}

.event-form-container {
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc; /* Цвет границы */
    border-radius: 5px;
    width: 400px;
    text-align: left;
    box-sizing: border-box;
    background-color: #f0f0f0; /* Цвет фона контейнера */
}

.event-form-container div {
     margin-bottom: 10px; /* Отступ для элементов */
     box-sizing: border-box;
}
.event-form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #404040; /* Цвет текста */
}

.event-form-container input[type="text"],
.event-form-container input[type="datetime-local"],
.event-form-container textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #606060; /* Цвет рамки */
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
    color: #404040;
}
/* Стиль для выпадающего списка */
.select-dropdown {
    background-color: white; /* Цвет фона выпадающего списка */
    color: #606060;          /* Цвет текста по умолчанию */
    border: 1px solid #606060; /* Цвет рамки */
    border-radius: 5px;       /* Закругление углов */
    padding: 8px;             /* Внутренние отступы */
    font-size: 1em;           /* Размер шрифта */
    cursor: pointer;          /* Указатель курсора */
    width: 100%;
    box-sizing: border-box;
}
.select-dropdown option {
   background-color: white; /* Цвет фона для опций */
   color: #804040;          /* Цвет текста для опций */
}
.select-dropdown option:checked,
.select-dropdown option:hover {
    background-color: #804040; /* Цвет фона для выбранного элемента */
    color: white;              /* Цвет текста для выбранного элемента */
}


.create-event-button {
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #404040;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-sizing: border-box;
    width: fit-content;
    display: block;
}

.back-button {
    background-color: #404040; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border: none; /* Без рамки */
    padding: 10px 20px; /* Отступы */
    border-radius: 10px; /* Закругленные углы */
    cursor: pointer; /* Указатель при наведении */
    text-align: center; /* Центрирование текста */
    text-decoration: none; /* Убираем подчеркивание */
    display: inline-block; /* Блочный элемент для центрирования */
    transition: background-color 0.3s; /* Плавный переход цвета фона */

}

.back-button:hover {
    background-color: #606060; /* Цвет фона при наведении */
}

.flash-messages {
    position: fixed; /* Зафиксировано в верхней части страницы */
    top: 30px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
    z-index: 1000; /* Обеспечьте, чтобы уведомления всегда были на переднем плане */
}

.danger {
    color: #ff0000;       /* Красный цвет для ошибок */
}

.alert {
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: white;
    background-color: #333333; /* Серый цвет по умолчанию */
}

.alert.error {
    background-color: #800000; /* Красный для ошибок */
}

.alert.success {
    background-color: #4CAF50; /* Зеленый для успешных сообщений */
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    float: right;
    cursor: pointer;
    padding: 0;
    margin-left: 15px;
}