.friend-list-container {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.friend-list {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

.friend-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #404040;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.button-container {
    display: flex; /* Используем flexbox для выравнивания кнопок */
    justify-content: flex-start; /* Выравниваем кнопки по правому краю */
    margin-top: 10px; /* Отступ сверху, если нужно */
}

.add-button {
    background-color: #404040; /* Темно-бордовый */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Отступ между кнопками */
}

.add-button:hover {
    background-color: #800020; /* Темнее при наведении */
    color: white;
}

.delete-button {
    background-color: #800020; /* Темно-бордовый */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.delete-button:hover {
    background-color: #404040; /* Темнее при наведении */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.friend-info {
    display: flex;
    justify-content: space-between; /* Распределяем пространство между элементами */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    width: 100%; /* Задаем ширину 100% для правильного выравнивания */
}

.friend-item:last-child{
     margin-bottom: 5px;
}

.friend-name {
    font-weight: bold;
}

.friend-deadline {
    font-size: 0.9em;
    color: #777;
}

.friend-form {
    display: inline-block;
}

.friend-button {
    background-color: #800000;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.friend-empty {
    text-align: center;
    font-style: italic;
    color: #777;
}

.add-friend-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #404040;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    align-self: center;
    box-sizing: border-box;
    width: fit-content;
}

.messages-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.message {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.message.success {
    background-color: #b87070;
    color: #white;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}

.friends2-info {
    display: flex;
    justify-content: space-between;  /*Распределяем пространство между элементами */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    width: 100%; /* Задаем ширину 100% для правильного выравнивания */
}


.flash-messages {
    position: fixed; /* Зафиксировано в верхней части страницы */
    top: 30px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
    z-index: 1000; /* Обеспечьте, чтобы уведомления всегда были на переднем плане */
}

.alert {
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: white;
    background-color: #333333; /* Серый цвет по умолчанию */
}

.alert.error {
    background-color: #800000; /* Красный для ошибок */
}

.alert.success {
    background-color: #4CAF50; /* Зеленый для успешных сообщений */
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    float: right;
    cursor: pointer;
    padding: 0;
    margin-left: 15px;
}


