.task-list-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.task-list {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

.task-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #404040;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.task-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px; /* Р”РѕР±Р°РІР»РµРЅРѕ РѕС‚СЃС‚СѓРї СЃР»РµРІР° */
}
.task-item:last-child{
     margin-bottom: 0px;
}

.task-name {
    font-weight: bold;
}

.task-deadline {
    font-size: 0.9em;
    color: #777;
}

.task-form {
    display: inline-block;
}

.task-button {
    background-color: #800000;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.task-empty {
    text-align: center;
    font-style: italic;
    color: #777;
}

.add-task-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #404040;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    align-self: center;
    box-sizing: border-box;
    width: fit-content;
}
.modal {
    display: none;
    position: absolute;
    z-index: 1;

    overflow: auto;
    background-color: rgba(0,0,0,0.4);

    flex-direction: column;
}

.modal-content {
    background-color: #404040;
    padding: 20px;
    border: 1px solid #606060;
    width: 400px;
    border-radius: 10px;
    color: #fff;
    box-sizing: border-box;
}

.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-label {
    margin-bottom: 5px;
    font-weight: bold;
}
.modal-input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #606060;
    border-radius: 5px;
    color: #fff;
    background-color: #303030;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modal-submit, .modal-close {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.modal-submit {
  background-color: #804040;
    color: white;
}
.modal-close {
     background-color: #804040;
    color: white;
}

.messages-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.message {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.message.success {
    background-color: #b87070;
    color: #white;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}

