.task-list-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.task-list {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

.task-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #404040;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.task-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px; /* Р”РѕР±Р°РІР»РµРЅРѕ РѕС‚СЃС‚СѓРї СЃР»РµРІР° */
}
.task-item:last-child{
     margin-bottom: 0px;
}

.task-name {
    font-weight: bold;
}

.task-deadline {
    font-size: 0.9em;
    color: #777;
}

.task-form {
    display: inline-block;
}

.task-button {
    background-color: #800020;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.task-button:hover {
    background-color: #404040; /* Цвет фона при наведении */
}

.task-empty {
    text-align: center;
    font-style: italic;
    color: #777;
}

.add-task-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #404040;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    align-self: center;
    box-sizing: border-box;
    width: fit-content;
}

.add-task-button:hover {
    background-color: #800020; /* Цвет фона при наведении */
}

.modal {
    display: none;
    position: absolute;
    z-index: 1;

    overflow: auto;
    background-color: rgba(0,0,0,0.4);

    flex-direction: column;
}

.modal-content {
    background-color: #404040;
    padding: 20px;
    border: 1px solid #606060;
    width: 400px;
    border-radius: 10px;
    color: #fff;
    box-sizing: border-box;
}

.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-label {
    margin-bottom: 5px;
    font-weight: bold;
}
.modal-input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #606060;
    border-radius: 5px;
    color: #fff;
    background-color: #303030;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modal-submit, .modal-close {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.modal-submit {
  background-color: #804040;
    color: white;
}
.modal-close {
     background-color: #804040;
    color: white;
}

.messages-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.message {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.message.success {
    background-color: #b87070;
    color: #white;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}

.flash-messages {
    position: fixed; /* Зафиксировано в верхней части страницы */
    top: 30px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
    z-index: 1000; /* Обеспечьте, чтобы уведомления всегда были на переднем плане */
}

.danger {
    color: #ff0000;       /* Красный цвет для ошибок */
}

.alert {
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: white;
    background-color: #333333; /* Серый цвет по умолчанию */
}

.alert.error {
    background-color: #800020; /* Красный для ошибок */
}

.alert.success {
    background-color: #4CAF50; /* Зеленый для успешных сообщений */
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    float: right;
    cursor: pointer;
    padding: 0;
    margin-left: 15px;
}


.confirmation-overlay {
    position: fixed; /* Зафиксированное положение */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Поверх всех элементов */
}
.confirmation-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
     width: 400px; /* устанавливаем ширину контейнера */
    max-width: 90%; /* устанавливаем максимальную ширину, чтобы на маленьких экранах не был слишком большим */

}


.confirmation-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
     font-family: 'Montserrat', sans-serif;
}

.confirmation-text {
    margin-bottom: 20px;
    /* font-family: 'Roboto', sans-serif; */
}
.confirmation-radio {
        margin-bottom: 10px;
      /* font-family: 'Roboto', sans-serif; */
}

.confirmation-buttons {
    display: flex;
    justify-content: flex-end; /* Выравниваем кнопки по правому краю */
     gap: 10px; /* отступы между кнопками */
}
.confirmation-button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    /*font-family: 'Roboto', sans-serif; */
     font-size: 1em;
}
.cancel-button{
  background-color: #804040;
    color: #fff;
}
.cancel-button:hover{
      background-color: ##804040;
}
.confirm-button {
    background-color: #804040;
    color: white;
}
.confirm-button:hover {
        background-color: #804040;
}
