.task-list-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.task-list {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

.task-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #404040;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.button-container {
    display: flex; /* Используем flexbox для выравнивания кнопок */
    justify-content: flex-end; /* Выравниваем кнопки по правому краю */
    margin-top: 10px; /* Отступ сверху, если нужно */
}

.add-button {
    background-color: #404040; /* Темно-бордовый */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Отступ между кнопками */
}

.add-button:hover {
    background-color: #800020; /* Темнее при наведении */
    color: white;
}

.delete-button {
    background-color: #800020; /* Темно-бордовый */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.delete-button:hover {
    background-color: #404040; /* Темнее при наведении */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.task-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px; /* Добавлено отступ слева */
}
.task-item:last-child{
     margin-bottom: 0px;
}

.task-name {
    font-weight: bold;
}

.task-deadline {
    font-size: 0.9em;
    color: #777;
}

.task-form {
    display: inline-block;
}

.task-button {
    background-color: #800000;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.task-empty {
    text-align: center;
    font-style: italic;
    color: #777;
}

.add-task-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #404040;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    align-self: center;
    box-sizing: border-box;
    width: fit-content;
}
.modal {
    display: none;
    position: absolute;
    z-index: 1;

    overflow: auto;
    background-color: rgba(0,0,0,0.4);

    flex-direction: column;
}

.modal-content {
    background-color: #404040;
    padding: 20px;
    border: 1px solid #606060;
    width: 400px;
    border-radius: 10px;
    color: #fff;
    box-sizing: border-box;
}

.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-label {
    margin-bottom: 5px;
    font-weight: bold;
}
.modal-input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #606060;
    border-radius: 5px;
    color: #fff;
    background-color: #303030;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modal-submit, .modal-close {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.modal-submit {
  background-color: #804040;
    color: white;
}
.modal-close {
     background-color: #804040;
    color: white;
}

.messages-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.message {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.message.success {
    background-color: #b87070;
    color: #white;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}

.tasks2-info {
    display: flex; /* Используем flexbox для выравнивания элементов */
    justify-content: space-between; /* Распределяем пространство между элементами */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
}


.flash-messages {
    position: fixed; /* Зафиксировано в верхней части страницы */
    top: 30px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
    z-index: 1000; /* Обеспечьте, чтобы уведомления всегда были на переднем плане */
}

.alert {
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: white;
    background-color: #333333; /* Серый цвет по умолчанию */
}

.alert.error {
    background-color: #800000; /* Красный для ошибок */
}

.alert.success {
    background-color: #4CAF50; /* Зеленый для успешных сообщений */
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    float: right;
    cursor: pointer;
    padding: 0;
    margin-left: 15px;
}

/* Стили для выделенной даты */
        .ui-datepicker .ui-state-active {
            background-color: #800000 !important; /* Красно-бордовый цвет для выделенной даты */
            color: white !important; /* Цвет текста выделенной даты */
        }

        /* Стили для даты при наведении */
        .ui-datepicker .ui-state-hover {
            background-color: #b22222; /* Цвет фона при наведении (более светлый красный) */
        }

        /* Стили для текущей даты */
        .ui-datepicker .ui-datepicker-today {
            background-color: #800000 !important; /* Красно-бордовый цвет для текущего дня */
            color: white !important; /* Цвет текста текущего дня */
        }

        /* Для серых дат, которые не являются текущими */
        .ui-datepicker .ui-datepicker-other-month {
            color: #999; /* Цвет текста для дат в других месяцах (по желанию) */
        }


