.friendEvent-list-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.friendEvent-list {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

.friendEvent-deadline {
    font-size: 2 em;
    color: #606060;
}

.friendEvent-form {
    display: inline-block;
}

.friendEvent-empty {
    text-align: center;
    font-style: italic;
    color: #777;
}

.back-button {
    background-color: #404040; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border: none; /* Без рамки */
    padding: 10px 20px; /* Отступы */
    border-radius: 10px; /* Закругленные углы */
    cursor: pointer; /* Указатель при наведении */
    text-align: center; /* Центрирование текста */
    text-decoration: none; /* Убираем подчеркивание */
    display: inline-block; /* Блочный элемент для центрирования */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.back-button:hover {
    background-color: #606060; /* Цвет фона при наведении */
}

.messages-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.message {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.message.success {
    background-color: #b87070;
    color: #white;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}

.friendEvent-comment {
    margin-left: 20px; /* Добавьте отступы со стороны комментария, если это нужно */
    color: #555; /* Цвет текста комментария */
    font-size: 0.9em; /* Размер шрифта */
}

h1, h2 {
    text-align: center;
}


.friendEvent-item {
    display: flex;
    justify-content: space-between; /* Позволяет разместить элементы по краям */
    align-items: center; /* Выравнивание по вертикали */
    padding: 10px;
    border: 1px solid #404040;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.friendEvent-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px; /* Добавлено отступ слева */
    flex-grow: 1; /* Позволяет занять доступное пространство */
}

.friendEvent-form {
    display: inline-block;
    /* Другие стили не нужны, если вы используете .friendEvent-button для кнопки */
}

.friendEvent-button {
    background-color: #800000;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px; /* Отступ для отделения от рамки события */
    position: relative;
    top: -5px; /* Поднимет кнопку немного вверх относительно рамки */
}

