<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расписание</title>
    <style>
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #f8f9fa;
        }
        .user-info {
            display: flex;
            align-items: center;
        }
        .logout-button {
            margin-left: 10px;
        }
    </style>
</head>
<body>

<div class="header">
    {% if current_user.is_authenticated %}
        <div class="user-info">
            <span>Всегда рады вас видеть, {{ current_user.user_login }}.</span>
            <button class="logout-button"><a href="{{ url_for('logout') }}">Выйти</a></button>
        </div>
    {% endif %}
</div>

<h1>Добро пожаловать в Расписание!</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</body>
</html>