{% extends "base.html" %}

{% block title %}Список друзей{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/todos.css') }}">
<div class="task-list-container">
    <h1>Ваши друзья</h1>

    {% if error %}
        <p class="danger">{{ error }}</p>
    {% endif %}

    <ul class="task-list">
        {% for friend in friends %}
            <li class="task-item">
                <div class="task-info">
                    <span class="task-name">{{ friend[0] }}</span>
                </div>
            </li>
        {% endfor %}
        {% if friends|length == 0 %}
            <li class="task-item task-empty">У вас нет друзей.</li>
        {% endif %}
    </ul>

    <h2>Добавить друга</h2>
    <form action="{{ url_for('search_friend') }}" method="POST">
        <input type="text" name="friend_login" placeholder="Введите логин друга" required>
        <button class="add-task-button" type="submit">Поиск</button>
    </form>

    {% if search_result %}
        <h3>Результаты поиска:</h3>
        <p>Пользователь: {{ search_result.user_login }}</p>
        {% if search_result.is_friend %}
            <p>Этот пользователь уже в ваших друзьях.</p>
        {% else %}
            <form action="{{ url_for('send_friend_request', recipient_login=search_result.user_login) }}" method="POST">
                <button type="submit">Отправить заявку в друзья</button>
            </form>
        {% endif %}
    {% endif %}
</div>
{% endblock %}