{% extends "base.html" %}

{% block title %}Заявки в друзья{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/friends.css') }}">

<div class="friend-list-container">
    <h1>Заявки в друзья</h1>
    <ul class="friend-list">
        {% for request in friend_requests %}
            <li class="friend-item">
                <div class="friends2-info">
                    <span>{{ request.senders_login }}</span>
                    <div class="button-container">
                        <form action="{{ url_for('accept_friend_request', request_id=request.request_id) }}" method="POST" style="display:inline;">
                            <button class="accept-button" type="submit">Принять</button>
                        </form>
                        <form action="{{ url_for('decline_friend_request', request_id=request.request_id) }}" method="POST" style="display:inline;">
                            <button class="accept-button" type="submit">Отклонить</button>
                        </form>
                    </div>
                </div>
            </li>
        {% endfor %}
        {% if friend_requests|length == 0 %}
            <li class="friend-item friend-empty">У вас нет запросов на дружбу.</li>
        {% endif %}
    </ul>

    <h1>Вы отправили запросы на дружбу:</h1>
    <ul class="friend-list">
        {% for recipient in friend_requests_sent %}
            <li class="friend-item">
                {{ recipient }}
                <div class="button-container">
                    <form action="{{ url_for('cancel_friend_request', recipient_login=recipient) }}" method="POST" style="display:inline;">
                        <button class="cancel-button" type="submit">Отменить</button>
                    </form>
                </div>
            </li>
        {% endfor %}
        {% if friend_requests_sent|length == 0 %}
            <li class="friend-item friend-empty">Вы не отправили запросов на дружбу.</li>
        {% endif %}
    </ul>
</div>
{% endblock %}