{% extends "base.html" %}

{% block title %}Список друзей{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/friends.css') }}">
<div class="friend-list-container">

    <h1>Найти друга</h1>
    <form action="{{ url_for('search_friend') }}" method="POST" class="friend-form">
        <input type="text" class="friend-input" name="friend_login" placeholder="Введите логин пользователя" required>
        <button class="add-button" type="submit">Поиск</button>
    </form>

    {% if search_result %}
        <h3 class="result-title">Результаты поиска:</h3>
        {% if search_result.user_login %}
            <p class="search-result">Пользователь: {{ search_result.user_login }}</p>
        {% endif %}
        {% if search_result.error_message %}
            <p class="result-message danger">{{ search_result.error_message }}</p>
        {% elif search_result.is_friend %}
            <p class="result-message">Этот пользователь уже в ваших друзьях.</p>
        {% else %}
            <form action="{{ url_for('send_friend_request', recipient_login=search_result.user_login) }}" method="POST">
                <button class="add-button" type="submit">Отправить заявку в друзья</button>
            </form>
        {% endif %}
    {% endif %}

    <h1>Ваши друзья</h1>

    {% if error %}
        <p class="danger">{{ error }}</p>
    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
       {% if messages %}
           <div class="flash-messages">
               {% for category, message in messages %}
                   <div class="alert alert-{{ category }}">
                       {{ message }}
                       <button class="close-btn" onclick="this.parentElement.style.display='none'">&times;</button>
                   </div>
               {% endfor %}
           </div>
       {% endif %}
   {% endwith %}

    <ul class="friend-list">
        {% for friend in friends %}
            <li class="friend-item">
                <div class="friend-info">
                    <span class="friend-name">{{ friend[0] }}</span>
                    <div class="button-container">
                        <form action="{{ url_for('remove_friend', friend_login=friend[0]) }}" method="POST" style="display:inline;">
                            <button class="delete-button" type="submit">Удалить друга</button>
                        </form>
                        <form action="{{ url_for('view_friend_events', friend_username=friend[0]) }}" method="GET" style="display:inline;">
                            <button class="view-button" type="submit">Посмотреть события</button>
                        </form>
                    </div>
                </div>
            </li>
        {% endfor %}
        {% if friends|length == 0 %}
            <li class="friend-item friend-empty">У вас нет друзей.</li>
        {% endif %}
    </ul>

</div>
{% endblock %}