<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
</head>
<body>

<div class="container">
    <h1>Регистрация</h1>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <form method="POST">
        <label for="login">Логин:</label>
        <input type="text" id="login" name="login" required>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        <input type="submit" value="Зарегистрироваться">
    </form>
    <p>У вас уже есть аккаунт?<br>
       <a href="{{ url_for('login') }}">Обратно ко входу</a></p>
</div>

</body>
</html>