{% extends "base.html" %}

{% block title %}События {{ friend_name }}{% endblock %}

{% block content %}
<h1>События друга {{ friend_name }}</h1>
<link rel="stylesheet" href="{{ url_for('static', filename='css/view-friend-event.css') }}">

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<!-- Кнопка "Вернуться к списку друзей" -->
<a href="{{ url_for('friends') }}" class="back-button">Вернуться к списку друзей</a>

<!-- ____вывод списка событий друга______ -->
{% if events_by_date %}
    {% for date, events in events_by_date.items() %}
        <h2>{{ date.strftime('%Y-%m-%d') }}</h2>
        <div class="friendEvent-list-container">
            <ul class="friendEvent-list">
                {% for event in events %}
                    <li class="friendEvent-item">
                        <div class="friendEvent-info">
                            <span class="friendEvent-deadline">{{ event[2] }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% else %}
    <p class="friendEvent-empty">Нет событий.</p>
{% endif %}
{% endblock %}